main{
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #789cef,  #2857d6);
}

form{
    padding-left:100px;
    padding-right:100px;
    border-radius: 15px;
    background: linear-gradient(to bottom, #789cef,  #2857d6);
}
