*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1 {
    width: 120px;
    font-weight: inherit;
	font-size: inherit;
}
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
}
/* --main---------------------------------- */
.form__block {

}
.block__name {
    color: rgb(82, 82, 82);
    display: flex;
    height: 50px;
    font-size: 18px;
    border-bottom: 1px solid rgb(211, 211, 211);
    align-items: center;
}
.name {
    width: 100%;
    background-color: rgb(228, 228, 228);
}
.name__header {
    margin-left: 10px;
}
.name__input {
    margin-left: 60px;
    display: flex;
    max-width: 170px;
}
.input {
    max-width: 170px;
    border: 1px solid rgb(172, 172, 172);
}
/* ----Button-------------------------------- */
.form__button {
    display: flex;
    width: 100%;
    margin: 30px 40px;
}
.button {
    color: rgb(75, 75, 75);
    background-color: rgb(255, 223, 182);
    width: 120px;
    height: 30px;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
}
.button:hover {
    background-color: rgb(214, 155, 67);
}
textarea {
    max-width: 170px;
    box-shadow: 1px 1px 1px #999;
    border: 1px solid rgb(172, 172, 172);
    z-index: 40;
    max-height: 48px;
}
/* ----------------------------------------------- */
.main__form {
    
}
.ceo__optimization {
    
}
.optimization__header {
}
.optimization__list {
}
.optimization__body {
    display: flex;
    max-width: 100%;
    align-items: center;
    margin-left: 380px;
    left: 0;
}
.optimization__body_else {
    display: flex;
    max-width: 100%;
    align-items: center;
    margin-left: 399px;
    left: 0;
}
.optimization__textarea {
    padding-left: 40px;
}
.optimization__textarea_else {

}