/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	background: #dce6fd;
	font-size: 15px;
	color: #252b42;
	font-weight: 500;
	font-family: Poppins;
}
/* ---------------------------------------------------------------------------- */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
/* ---------------------------------------------------------------------------- */
._container {
	max-width: 1170px;
	padding: 0px 15px;
	margin: 0px auto;
	box-sizing: content-box;
}
/* -----HEADER----------------------------------------------------------------- */
.header {
    background: #87a8f3;
    position: absolute;
	width: 100%;
	left: 0;
    z-index: 3;
	top: 0;
}
.header__container {
    max-height: 135px;
    display: flex;
    align-items: center;
}
.logo__img {
    height: 95px;
    width: 105px;
}
.header__menu {
    padding-left: 60px;
    align-items: center;
}
.menu__list {
    min-width: 760px;
    display: flex;
    align-items: center;
}
.menu__item:not(:last-child) {    
    margin-right: 55px;
}
@media (max-width:1160px) {
    .menu__item:not(:last-child) {
        margin-right: 30px;
    }
    .menu__list {
        min-width: 500px;
    }
}

.menu__href {
    color: #1F1F1F;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.menu__href:hover {
    text-decoration: underline;
}
.menu__i {
    display: flex; 
    height: 135px;
    width: 100%;
    align-items: center;
    justify-content: end;
}
.menu__icons {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    z-index: 3;
}
.icon__im {
    padding-right: 13px;
}
.icon__img {
    position: relative;
    z-index: 3;
}
.icon__img:not(:last-child){
    margin-right: 40px;
}
.eclips {
    display: flex;
    position: absolute;
    z-index: 2;
}
.icons {
    margin-right: 28px;
}
/* ----BIG-LOGO-------------------------------------------------------------------- */
.page__title {
    margin-top: 160px;
    position: absolute;
    z-index: 2;
    color: #ffffff;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.page__text {
    position: absolute;
    margin-top: 320px;
    z-index: 2;
    color: #ffffff;
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.page__body {
    padding: 0px 0px 0px 0px;
	position: relative;
	z-index: 2;
	max-width: 400px;
}
.mail__page {
    position: relative;
}
.page__button {
    width: 200px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FF8126;
    margin-top: 430px;
    position: absolute;
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    transition: all 0.3s ease 0s;
    font-weight: 500;
    line-height: normal;
    z-index: 2;
}
._ibg {
    position: relative;
}
._ibg img{
    margin-top: 135px;
	width: 100%;
    max-height: 600px;
	top: 0;
	left: 0;
	object-fit: cover;
}
.page__logo {
    object-position: right;
    opacity: 0.6;
}

.page__button:hover{
    background-color: #ffffff;
    color: #FF8126;
}
/* ------SWIPER------------------------------------------------------------ */
.swiper {
    width: 700px;
    height: 325px;
    margin-top: 30px;
    align-items: center;
}
.main__slider {
    margin-top: 20px;
}
.slider__text {
    text-align: center;
    color: #000000;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0px 5px;
}
/* ----companies--------------------------------------------- */
.companies__body {
    background-color: #FFF;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.company:not(:last-child) {
    border-right: 1px solid #e9e9e9;
}
.company {
    padding-left: 8px;
    padding-right: 8px;
}
/* --------CATALOG---------------------------------------------------- */
.catalog__container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    background-color: #FFF;
    padding-top: 30px;
}
.catalog__block {
    margin-top: 20px;
    max-width: 260px;
    border: 1px solid #e9e9e9;
}
.catalog__body {
    margin: 30px 20px;
}
.block__img {
    display: flex;
    height: 100%;
}
.block__img img{
   height: 280px;
}
.block__body {
    margin-top: 10px;
}
.body__title {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.body__price {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
.price__number {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: crimson;
}
.price__button {
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    background: #b2c8fa;
    width: 120px;
    height: 35px;
    flex-shrink: 0;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    transition: all 0.3s ease 0s;
    font-weight: 500;
    line-height: normal;
}
.price__button:hover {
    background-color: #6e9aff;
}
/* ----FOOTER--------------------------------------------- */
.footer__top {
	background: var(--secondary-color-2, #366cff);
	padding: 30px 0;
}
.footer__column {
	padding: 20px 15px;
	flex: 0 0 25%;
	min-width: 170px;	
}
.footer__column:last-child{
	flex: 0 1 33.3334%;
}
.foter__row {
	display: flex;
	margin: 0px -15px;
}
.footer__label {
	color: var(--light-text-color, #111111);
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.1px;
	margin: 0px 0px 20px 0px;
}
.menu-footer__item:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.menu-footer__link {
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0.2px;
	color: #303030;
}
.menu-footer__link:hover {
	text-decoration: underline;
}
.contacts-footer {
	display: flex;
	flex-direction: column;
}
.contacts-footer__item {
	color: #FFF;
	line-height: 142%;
	padding-left: 24px;
	display: flex;
	align-items: center;
	min-height: 30px;
}
.contacts-footer__item:hover {
	text-decoration: underline;
}
.contacts-footer__item:not(:last-child) {
	margin-bottom: 12px;
}
.contacts-footer__item_phone {
	background: url('../img/footer/icons/01.svg') 0 0 no-repeat;
}
.contacts-footer__item_map {
	background: url('../img/footer/icons/02.svg') 0 0 no-repeat;
}
.contacts-footer__item_email {
	background: url('../img/footer/icons/03.svg') 0 0 no-repeat;
}
/* ---------------------------------------------------------------- */
.footer__bottom {
	padding: 25px 0px;
}
.footer__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}	
.footer__copy {
	color: var(--second-text-color, #737373);
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0.2px;
}
.footer__social {
	display: flex;
	align-items: center;
}
@media (max-width: 767px) {
	.footer__container {
		flex-direction: column;
	}
	.footer__copy {
		margin-bottom: 15px;
		text-align: center;
	}
}
.social__item:not(:last-child) {
	margin-right: 20px;
}
/* ----BUTTON-TOP----------------------------- */
#button {   
    display: inline-block;   
    background-color: #034294;   
    width: 50px;   
    height: 50px;   
    text-align: center;   
    border-radius: 4px;   
    margin: 30px;   
    position: fixed;   
    bottom: 20px;   
    right: 20px;   
    visibility: hidden;
    transition: background-color .3s;   
    z-index: 1000; 
 } 
 #button:hover {   
    cursor: pointer;   
    background-color: #40b9ff; 
 } 
 #button:active {   
    background-color: #555; 
 } 
 #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #ffffff;     
 } 
 #button.show {
    opacity: 1;
    visibility: visible;
  }